.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/gradle.xml
.idea/gradle.xml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
app/app.iml
app/build.gradle
build.gradle
gcmsender/gcmsender.iml
gradle/wrapper/gradle-wrapper.properties
JFutboL.iml
